@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('BebasNeueCyrillic.woff2') format('woff2'),
        url('BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.f-bebas {
    font-family: 'Bebas Neue Cyrillic'
}